ion-content{  
    --background: #01a3a4;
}

h2, ion-button{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    padding: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h6 {
    padding-left: 5px;
}

.button {
    text-align: center;
}

.new-background-color{
    --background:#10ac84;
}

.accept {
    padding-left: 40%;
}

// .reject {
//     padding-left: 8%;
// }