<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
          <ion-button color="danger" (click)="CloseModal()">
            <span ion-text color="primary" showWhen="ios"></span>
            <ion-icon name="close" showWhen="android,windows"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title class="label"> Maklumat Kematian</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>
      <ion-item>
        <ion-label>Nama Penuh :  <span>{{passedId.nama}}</span></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Tarikh Lahir :  <span>{{passedId.dob | date: 'dd/MM/yyyy'}}</span></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Tarikh Kematian :  <span>{{passedId.dod | date: 'dd/MM/yyyy'}}</span></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Plot Kubur :  <span>{{passedId.plot}}</span></ion-label>
      </ion-item>
    </ion-list>
  </form><br/>
    <div class="button">
      <ion-button color="primary" (click)="kemaskini(passedId)" size="medium">Kemaskini</ion-button>
      <ion-button color="primary" (click)="lokasi(passedId)">Lokasi</ion-button>
    </div>
</ion-content>


