ion-content{  
    --background: #01a3a4;
}

h2, ion-button, p{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h6 {
    font-size: x-small;
    padding-left: 3%;
}

.new-background-color{
    --background:#10ac84;
}