<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-undo"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-img src="/assets/imgs/banner2.png" style="height: 40px; text-align: center;"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Hubungi</h2>
  <ion-card>
    <ion-card-content>
      Gs. DR NORADILA BINTI RUSLI@RUSLIK
      <p>Jabatan Perancangan Bandar dan Wilayah</p>
      <p>Fakulti Alam Bina dan Ukur</p>
      <p>Universiti Teknologi Malaysia</p>
      <p>81310 Skudai, Johor</p>
      <p>MALAYSIA</p><br/>
      <p>Email: noradila@utm.my</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      AHMAD JOHARI BIN AWANG
      <p>Jabatan Perancangan Bandar dan Wilayah</p>
      <p>Fakulti Alam Bina dan Ukur</p>
      <p>Universiti Teknologi Malaysia</p>
      <p>81310 Skudai, Johor</p>
      <p>MALAYSIA</p><br/>
      <p>Email: johariawang@yahoo.com</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      NOOR FARAHIN BINTI MUHAMAD RIJAL
      <p>Jabatan Perancangan Bandar dan Wilayah</p>
      <p>Fakulti Alam Bina dan Ukur</p>
      <p>Universiti Teknologi Malaysia</p>
      <p>81310 Skudai, Johor</p>
      <p>MALAYSIA</p><br/>
      <p>Email: farahinrijal@gmail.com</p>
    </ion-card-content>
  </ion-card>
</ion-content>
