<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-undo"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-img src="/assets/imgs/banner2.png" style="height: 40px; text-align: center;"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Informasi GeoPUSARA</h2><br/>
  <ion-card>
    <ion-card-content>
      <p>
        GeoPusara merupakan aplikasi mudah alih bagi memudahkan pencarian plot-plot kubur di Tanah Perkuburan Islam.
      </p>
      <br/>
      <p>
        Aplikasi ini dibangunkan pada tahun 2019 oleh sekumpulan penyelidik daripada Jabatan Perancangan Bandar dan Wilayah, Fakulti Alam Bina dan Ukur, Universiti Teknologi Malaysia.
      </p>
      <br/>
      <p>
        Aplikasi GeoPusara ini adalah salah satu hasil daripada projek yang bertajuk: GeoPUSARA: Integrasi Teknologi GIS dan Aplikasi Mudah Alih(Mobile Apps) bagi Pengurusan Kubur Bersistematik.
      </p>
      <br/>
      <p>
        Dana bagi projek ini adalah melalui geran Knowledge Transfer Program - Networking Matching Grant (UTM KTP-NMG 2018) yang diperolehi daripada UTM Centre for Community and Industry Network (CCIN).
      </p>
 
      
    </ion-card-content>
  </ion-card>
</ion-content>
