agm-map {
    height: 80%;
}

p, strong {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 

.new-background-color{
    --background:#10ac84;
}

ion-title {
    text-align: center;
}